parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - bootstrap/app.php
        - bootstrap/providers.php
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Dynamic call to static method Illuminate\\Http\\Client\\PendingRequest::withHeaders\(\).#'
        -
            message: '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\).#'
            path: app/Http/Controllers/**/*.php
